<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TokenStr" value="linkPub2018_token"/>
    <add key="appid" value="wxe6edcceb51db5a5e"/>
    <add key="secret" value="a389ff003287bf3729a4a6908fb0512d"/>
    <add key="weburl" value="http://wx.link-public.com/"/>
    <add key="VipPostUrl" value="http://139.224.64.189:7777/"/>
    <add key="VipHostUrl" value="http://wx.link-public.com/"/>
    <add key="imgUrl" value="http://wx.link-public.com/"/>
    <add key="MemberCardService" value="http://139.224.64.189:7777/"/>
    <!--网易云信短信接口参数-->
    <add key="ShortMesUrl" value="https://api.netease.im/sms/"/>
    <add key="AppKey" value="1123bb522255f359c99faff633810276"/>
    <add key="AppSecret" value="9cf37a25456f"/>
    <add key="temp1" value="3030139"/>
    <add key="temp2" value="3056743"/>
    <add key="msgServer" value="http://139.224.64.189:7777/"/>
    <add key="mesStocode" value="WXXL"/>
    <add key="mesBuscode" value="88888888"/>
    <add key="clientId" value="joszIfvwOGO8YGI6mdzMT60P"/>
    <add key="clientSecret" value="FR9LW64Zf1KC7fLRGtFooFYcV7OnFdap"/>
    <add key="token" value="24.96358732ba89f3aa6e5aefc14e51086f.2592000.1548589815.282335-15296391"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=.\SQL2014;database=catering;User ID=cateringwx;Password=xjwz2016" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="Off"/>
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <httpRuntime executionTimeout="3600" maxRequestLength="204800"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
        <add name="Access-Control-Expose-Headers" value="REDIRECT"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>